/*Global CSS*/
* {
  background-color: white;
  margin: 0;
  padding: 0;

}

/*Navbar*/

.navbar-box {
  /*Standard nav-bar values*/
  width: auto;
  height: auto;
  background-color: rgb(254, 197, 10);
  ;

  /*Flexbox to organize the items in the navigation bar*/
  /*https://www.w3schools.com/csS/css3_flexbox.asp*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*Shaping the navbar and givivng it form*/
.navbar-item {
  width: 100px;
  margin: 5px;
  padding: 10px;
  margin-right: 5px;
  text-align: center;
  align-content: center;

}

/*index.html specific*/

.body-container {
  margin-bottom: 10px;
}

.body-container h1,
h2 {

  text-align: center;

}

.body-item1 {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  width: 100%;

}

.body-item1-div {

  padding: 10px;
  margin: 15px;
  height: 50px;
  width: 150px;
  flex-wrap: wrap;

  align-items: center;
  border-top: 1px solid black;

}

.body-item1-div p {
  display: flex;
  flex-direction: column;
}

.body-item2 {
  text-align: center;
  font-size: 25px;
}

/*accessibility.hmtl specific*/

/*activity.html specific*/

/*github.html specific*/